.homepageLandingBanner {
  background-image: url("/src/graphics/homepageLandingBanner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 400px;
  width: 100%;
  margin: 5% auto;
}
.Home .socialsCont {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0;
}
