@import "./global";
:root {
  font-size: 16px;
  background-color: $white;
}
body {
  margin: 0 auto;
  color: $black;
  main {
    max-width: $maxContentWidth;
    margin: 0 auto;
  }
  header {
    position: sticky;
    top: 0;
  }
  hr {
    max-width: $maxContentWidth;
  }
  ul,
  p {
    line-height: 2em;
  }
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }
}
