// Screen Sizes
$tabletAndDesktop: "min-width: 768px";
$mobileOnly: "max-width: 767px";
$maxContentWidth: 1440px;

// Brand Colors
$purple: #9900ff;
$lightPurple: #ddabff;
$lightestPurple: #f7ebff;
$orange: #fc6230;
$lightOrange: #ffc39e;
$lightestOrange: #fff2eb;
$black: #212121;
$white: #fafafa;

//Fonts
$fallbackFonts: "Arial, Helvetica, sans-serif";
