[class^="number-slide"],
[class*=" number-slide"] {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}
.keen-slider__slide:nth-child(odd) {
  background: #9900ff;
  background: linear-gradient(128deg, #9900ff 0%, #ddabff 100%);
}
.keen-slider__slide:nth-child(even) {
  background: #fc6203;
  background: linear-gradient(128deg, #fc6203 0%, #ffc39e 100%);
  background: linear-gradient(128deg, #ffc39e 0%, #fc6203 100%);
}
