.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #212121;
  color: #fafafa;
  .logo-cont {
    display: flex;
    align-items: center;
  }
  span {
    display: flex;
    align-items: center;
  }
  .logo {
    background-image: url("../graphics/whiteSmiley.PNG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 45px;
    height: 45px;
    margin: 10px;
  }
  ul {
    list-style: none;
    display: flex;
  }
  a {
    border: none;
    background-color: transparent;
    font-size: 16px;
    transition: 0.3s;
    margin: 0 10px;
    color: #fafafa;
    text-decoration: none;
  }
  Link:hover {
    color: #000;
    transition: 0.3s;
    cursor: pointer;
  }
}
