@import "../_global_styling.scss";

.event {
  text-decoration: none;
  color: $black;
  display: flex;
  margin: 5%;
  border: 1px solid $purple;

  @media screen and ($mobileOnly) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &.reverse {
    flex-direction: row-reverse;
    @media screen and ($mobileOnly) {
      flex-direction: column;
      align-items: center;
    }
  }

  img {
    display: block;
  }

  .copy-cont {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
  }
}
