.IntroduceAY{
    display: flex;
    margin: 5% 0;  
    align-items: center;
    justify-content: space-evenly;
}
.IntroduceAY section{
    display: flex;
    flex-direction: column;
    width: 30%;
    min-height: 330px;
    margin: 1%;
    padding: 2%;
    align-items: center;
    text-align: center;
    border: 1px solid #FC6203;
    border-radius: 7px;
}
.IntroduceAY img{
    width: 30%;
}
.IntroduceAY .subscribe{
    display: block;
    text-transform: capitalize;
    text-decoration: unset;
}
.IntroduceAY .subscribe h3{
    color: #9900ff;
}