.MissionBanner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    margin: 5% 1%;
    padding: 5% 5%;
    border-top: 1px solid #9900ff;
    border-bottom: 1px solid #9900ff;
}
.MissionBanner > div{
    width: 50%;
    text-align: center;
}
.MissionBanner iframe{
    border: 1px solid black;
    border-radius: 7px;
    box-shadow: 10px 10px 10px #212121;
}