.NewsletterSignUp {
  display: flex;
  justify-content: center;
  padding: 10px auto;
  .email {
    border: 1px solid #9900ff;
    width: 70%;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    padding: 10px;
  }
}
#mc_embed_signup_scroll {
  border: 1px solid #9900ff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 15px -3px #fc6203;
  h2 {
    color: #9900ff;
  }
}
.mc-field-group {
  display: flex;
  align-items: center;
}
.optionalParent {
  padding: 10px;
  text-align: center;
  .button {
    width: 40%;
    border-radius: 5px;
    padding: 10px;
    background-color: #fc6203;
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: white;
    text-shadow: 0 0 2px #000;
    border: 3px solid #c54c01;
  }
  .button:hover {
    background-color: #9900ff;
    transition: 0.3s;
    cursor: pointer;
    border-color: #7303bd;
  }
}
