.Socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.Socials h2 {
  color: #9900ff;
}
.Socials .social-icons-cont {
  display: flex;
  width: 70%;
  height: 100%;
  justify-content: space-evenly;
}
.Socials .social-icons-cont .icons {
  height: 60px;
  width: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.instagram {
  background-image: url("../graphics/instagramSocial.PNG");
}
.facebook {
  background-image: url("../graphics/facebookSocial.PNG");
}
